@{
    ViewData["Title"] = "DANH SÁCH KHÁCH HÀNG";
}

<h1 style="color : rgb(42, 44, 44);">@ViewData["Title"]</h1>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/shim.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css" />

<style>

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .btnEdit, .btnDelete {
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 5px;
        transition: opacity 0.3s ease;
    }

    .btnEdit {
        background-color: #007bff;
    }

    .btnDelete {
        background-color: #dc3545;
    }

    .btnEdit:hover, .btnDelete:hover {
        opacity: 0.7;
    }

    #editForm h2 {
        text-align: center;
        margin: 20px 0;
    }

    .btnSave, .btnCancel, .btnCreate {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
    }

    .btnSave, .btnCreate {
        background-color: #0b63e6;
        color: white;
    }

    .btnCancel {
        background-color: #f44336;
        color: white;
    }

    .btnSave:hover, .btnCancel:hover, .btnCreate:hover {
        opacity: 0.8;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
    }

    .button-containers {
        display: flex;
    }

    #editFormContainer {
        background-color: rgba(0, 0, 0, 0.5); /* Đặt màu nền mờ */
    }

    #editForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1001;
        background-color: aquamarine;
    }

    #addFormContainer {
        display: none;
        z-index: 10000; /* Đặt z-index lớn hơn để hiển thị trên các phần khác của trang */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #cccdcf;
        position: fixed; /* Đặt vị trí cố định trên trang */
    }

    #editFormContainer {
        display: none;
        z-index: 10000; /* Đặt z-index lớn hơn để hiển thị trên các phần khác của trang */
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        max-width: 450px;
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #cccdcf;
        position: fixed; /* Đặt vị trí cố định trên trang */
        max-height: 90%; /* Giới hạn chiều cao để tạo ra khung cuộn */
        overflow-y: auto; /* Tạo khung cuộn dọc */
        padding: 200px; /* Đảm bảo có khoảng cách trong form */
    }


    #addFormContainer {
        background-color: rgba(0, 0, 0, 0.5); /* Đặt màu nền mờ */
    }

    #addForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        padding: 20px;
        border: px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1001;
        background-color: aquamarine;
    }

    #btnAdd {
        background-color: #0b63e6;
        padding: 10px;
        font-weight: 600;
        border-radius: 5px;
        color: #f7f9fc
    }

    .button-container button:hover {
        background-color: #008CBA !important; /* Change background color on hover */
        cursor: pointer !important; /* Change cursor to a pointer on hover */
    }
</style>


<div class="button-container">
    <button type="submit" id="btnAdd" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px;">Thêm Khách Hàng</button>
    <button id="exportButton" style="background-color: orangered; color: white; padding: 10px 20px; border: none; border-radius: 5px;">Xuất File Excel</button>
</div>


<div id="addFormContainer" style="display: none;">
    <form id="addForm">
        <div><input type="hidden" id="khId" name="khId" /></div>
        <div><input type="text" id="khMa" name="khMa" placeholder="Mã khách hàng" required></div>
        <div><input type="text" id="khTen" name="khTen" placeholder="Tên Khách" required></div>
        <div><input type="text" id="khDiachi" name="khDiachi" placeholder="Địa chỉ KH" required></div>
        <div>
            <input type="email" id="khEmail" name="khEmail" placeholder="Email" required>
        </div>
        <div><input type="number" id="khSđt" name="khSđt" placeholder="SĐT" maxlength="10" required></div>
        <div>
            <label for="khNgaysinh"> Ngày sinh :</label>
            <input type="date" id="khNgaysinh" name="khNgaysinh" placeholder="Ngày Sinh" required>
        </div>
        <div>
            <label for="khNgaythamgia"> Ngày tham gia:</label>
            <input type="date" id="khNgaythamgia" name="khNgaythamgia" placeholder="Ngày tham gia" required>
        </div>
        <div>
            <input type="text" id="khMatkhau" name="khMatkhau" placeholder="Mật khẩu" required inputmode="password">
        </div>
        <div>
            <select id="khGioitinh" name="khGioitinh" required>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
        </div>
        <div class="button-containers">
            <button type="submit" class="btnCancel">Hủy</button>
            <button type="submit" class="btnCreate">Thêm</button>
        </div>
    </form>
</div>


<table id="tbl1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã</th>
            <th>Tên </th>
            <th>Địa chỉ </th>
            <th>Email </th>
            <th>SĐT</th>
            <th>Ngày sinh</th>
            <th>Ngày tham gia</th>
            <th>Mật khẩu</th>
            <th>Giới tính</th>
        </tr>
    </thead>
</table>

<div id="editFormContainer" style="display:none" ;>
    <form id="editForm">
        <h2> Edit Form</h2>
        <input type="hidden" id="khId" name="khId" />
        <div>
            <input type="text" id="khMa" name="khMa" placeholder="mã Khách hàng" required />
        </div>
        <div>
            <input type="text" id="khTen" name="khTen" placeholder="Tên " required />
        </div>
        <div>
            <label for="khSđt"> Số điện thoại:</label>
            <input type="number" id="khSđt" name="khSđt" placeholder="Số điện thoại" maxlength="10" required />
        </div>
        <div>
            <input type="text" id="khDiachi" name="khDiachi" placeholder="địa chỉ " required />
        </div>
        <div>
            <input type="email" id="khEmail" name="khEmail" placeholder="Email" required />
        </div>
        <div>
            <label for="khNgaysinh"> Ngày sinh :</label>
            <input type="text" id="khNgaysinh" name="khNgaysinh" placeholder="Ngay sinh" required />
        </div>
        <div>
            <label for="khNgaythamgia"> Ngày tham gia:</label>
            <input type="text" id="khNgaythamgia" name="khNgaythamgia" placeholder="Ngaythamgia" required />
        </div>
        <div>
            <label for="khMatkhau"> Mật khẩu :</label>
            <input type="text" id="khMatkhau" name="khMatkhau" placeholder="Matkhau" required />
        </div>
        <div>
            <label for="khGioitinh">Giới tính:</label>
            <select id="khGioitinh" name="khGioitinh" required>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
        </div>
        <div class="button-containers">
            <button type="submit" class="btnSave">Lưu</button>
            <button type="submit" class="btnCancel">Hủy</button>
        </div>
    </form>
</div>


<script>
    //get information
    $(document).ready(function () {
        var url = "https://localhost:7282/TblKhachhang/Get";

        //khởi tạo DataTable
        $.get(url, {}, function (kq) {
            var dulieu = kq.data;
            table_direct = new DataTable('#tbl1',
                {
                    data: dulieu,
                    columns: [
                        { "data": "khId" },
                        { "data": "khMa" },
                        { "data": "khTen" },
                        { "data": "khDiachi" },
                        { "data": "khEmail" },
                        { "data": "khSđt" },
                        { "data": "khNgaysinh" },
                        { "data": "khNgaythamgia" },
                        { "data": "khMatkhau" },
                        { "data": "khGioitinh" },
                        {
                            "data": null,
                            "defaultContent": "<div class='button-container'><button class='btnEdit'>Sửa</button><button class='btnDelete'>Xóa</button></div>"
                        }
                    ]
                }
            );


            // Create Method =============================================
            $('#btnAdd').on('click', function () {
                // Clear the form fields
                $('#addForm input[type="text"]').val('');


                // Show the form
                $('#addFormContainer').show();
            });

            // Handle form submission
            $('#addForm').on('submit', function (e) {
                e.preventDefault();

                // Get the created data from the form
                var createData = {
                    khId: $('#addForm #khId').val(),
                    khMa: $('#addForm #khMa').val(),
                    khTen: $('#addForm #khTen').val(),
                    khsdt: $('#addForm #khSđt').val(),
                    khDiachi: $('#addForm #khDiachi').val(),
                    khNgaysinh: $('#addForm #khNgaysinh').val(),
                    khEmail: $('#addForm #khEmail').val(),
                    khGioitinh: $('#addForm #khGioitinh').val(),
                    khMatkhau: $('#addForm #khMatkhau').val(),
                    khNgaythamgia: $('#addForm #khNgaythamgia').val(),

                };

                console.log("Mảng nhận được là:", createData);

                // Send a request to the server to create the data
                var url = "https://localhost:7282/TblKhachhang/Insert";
                $.post(url + "?ma=" + $("#khMa").val() + "&ten=" + $("#khTen").val() + "&diachi=" 
                + $("#khDiachi").val() + "&email=" + $("#khEmail").val() + "&sdt=" + $("#khSđt").val() 
                + "&ngaysinh=" + $("#khNgaysinh").val() + "&matkhau=" + $("#khMatkhau").val() + "&gioitinh=" + $("#khGioitinh").val(), { 
                }, function (response) {
                    console.log("Thêm mới thành công:", response);
                    location.reload();
                }).fail(function (xhr, status, error) {
                    console.error("Có lỗi xảy ra: ", error);
                });
            });

            // "Cancel" button
            $('#addForm .btnCancel').on('click', function (e) {
                e.preventDefault();

                // Hide the form
                $('#addForm').hide();
            });

            // "Cancel" button for edit form
            $('#editForm .btnCancel').on('click', function (e) {
                e.preventDefault();

                // Hide the form
                $('#editFormContainer').hide();
            });




            // EDIT METHOD ===================================================
            $('#tbl1 tbody').on('click', '.btnEdit', function () {
                var data = table_direct.row($(this).parents('tr')).data();

                // Điền dữ liệu vào form chỉnh sửa
                $('#editForm #khId').val(data.khId);
                $('#editForm #khMa').val(data.khMa);
                $('#editForm #khTen').val(data.khTen);
                $('#editForm #khSđt').val(data.khSđt);
                $('#editForm #khDiachi').val(data.khDiachi);
                $('#editForm #khNgaysinh').val(data.khNgaysinh);
                $('#editForm #khEmail').val(data.khEmail);
                $('#editForm #khGioitinh').val(data.khGioitinh);
                $('#editForm #khMatkhau').val(data.khMatkhau);
                $('#editForm #khNgaythamgia').val(data.khNgaythamgia);

                // Hiển thị form
                $('#editFormContainer').show();
            });

            // Xử lý khi submit form chỉnh sửa
            $('#editForm').on('submit', function (e) {
                e.preventDefault();

                // Lấy dữ liệu đã cập nhật từ form
                var updatedData = {
                    khId: $('#editForm #khId').val(),
                    khMa: $('#editForm #khMa').val(),
                    khTen: $('#editForm #khTen').val(),
                    khSđt: $('#editForm #khSđt').val(),
                    khDiachi: $('#editForm #khDiachi').val(),
                    khNgaysinh: $('#editForm #khNgaysinh').val(),
                    khEmail: $('#editForm #khEmail').val(),
                    khGioitinh: $('#editForm #khGioitinh').val(),
                    khMatkhau: $('#editForm #khMatkhau').val(),
                    khNgaythamgia: $('#editForm #khNgaythamgia').val(),

                };

                console.log("Chuỗi lấy được là:", updatedData);

                var url = "https://localhost:7282/TblKhachhang/Update";
                $.post(url + "?khId=" + $("#editForm #khId").val() + "&ma=" + $("#editForm #khMa").val() 
                + "&ten=" + $("#editForm #khTen").val() + "&diachi=" + $("#editForm #khDiachi").val() 
                + "&email=" + $("#editForm #khEmail").val() + "&sdt=" + $("#editForm #khSđt").val() 
                + "&ngaysinh=" + $("#editForm #khNgaysinh").val() + "&ngaytg=" + $("#editForm #khNgaythamgia").val() 
                + "&matkhau=" + $("#editForm #khMatkhau").val() + "&gioitinh=" + $("#editForm #khGioitinh").val(), { 
                }, function (response) {
                    console.log("Cập nhật thành công:", response);
                    location.reload();
                }).fail(function (xhr, status, error) {
                    console.error("Có lỗi xảy ra khi cập nhật :", error);
                });
            });

            // Nút "Hủy"
            $('#editForm .btnCancel').on('click', function (e) {
                e.preventDefault();

                // Ẩn form
                $('#editFormContainer').hide();
            });


            // DELETE METHOD =======================================================
            $('#tbl1 tbody').on('click', '.btnDelete', function () {
                var data = table_direct.row($(this).parents('tr')).data();

                var khId = data.khId; // Get the product ID


                // Send a DELETE request to the server endpoint
                if (confirm("Bạn có muốn xóa khách hàng này không?")) {
                    $.ajax({
                        url: 'https://localhost:7282/TblKhachhang/Delete?khId=' + khId,
                        type: 'DELETE',
                        success: function () {
                            table_direct.ajax.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Lỗi xóa: ', textStatus, errorThrown);
                        }
                    });
                }
            });


            //EXPORT FILE
            $('#exportButton').on('click', function () {
                // Lấy dữ liệu từ bảng DataTable
                var data = table_direct.rows().data().toArray();

                // Tạo một đối tượng Workbook mới từ dữ liệu bảng
                var wb = XLSX.utils.book_new();
                var ws = XLSX.utils.json_to_sheet(data);
                XLSX.utils.book_append_sheet(wb, ws, "Sheet1");

                // Tạo một ArrayBuffer từ Workbook
                var wbout = XLSX.write(wb, { type: 'array' });

                // Chuyển đổi ArrayBuffer thành Blob
                var wbBlob = new Blob([wbout], { type: 'application/octet-stream' });

                // Tạo một URL từ Blob
                var url = window.URL.createObjectURL(wbBlob);

                // Tạo một thẻ <a> để tải xuống tệp Excel
                var a = document.createElement('a');
                a.href = url;
                a.download = 'data.xlsx';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        });
    });
</script>